
// 过滤项组件
.filter-option {
  .item {
    display: inline-block;
    margin-right: 24px;
    > span {
      margin-right: 4px;
      color: rgba(#051021, 0.34);
    }

    .el-input {
      &.el-input--prefix {
        &.el-input--suffix {
          width: 180px;

          .el-input__inner {
            border-width: 0 0 1px 0;
            box-shadow: none;
            border-radius: 0;
            height: 32px;
            border-color: rgba(41, 121, 255, .5);
            text-indent: 22px;
          }

          .el-input__prefix {
            left: 0;
            line-height: 32px;
            display: flex;
            align-items: center;

            .el-input__icon {
              line-height: 32px;
            }
          }
        }
      }
    }
    .el-input__inner {
      padding-left: 0;
      padding-right: 0;
      color: rgba(#051021, 0.72);
      background-color: transparent;
    }
    .el-select {
      .el-input__inner {
          width: 130px;
      }
      .el-input__suffix {
          right: 0;
          top: 3px;
      }
    }
  }
}

// 数据统计组件
.statistic-wrap {
	display: flex;
	.statistic-item {
		height: 96px;
		width: 100%;
    padding-left: 48px;
		background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 72px 72px;
    cursor: pointer;
    &.total {
      background-image: url(../imgs/status-all.png);
    }
    &.normal {
      background-image: url(../imgs/status-normal.png);
    }
    &.abnormal {
      background-image: url(../imgs/status-abnormal.png);
    }
    &.failed {
      background-image: url(../imgs/status-failed.png);
    }
    &.closed {
      background-image: url(../imgs/status-closed.png);
    }
		&.blue {
      border-color: rgba(41, 121, 255, 0.72);
    }
		+ div {
			margin-left: 8px;
		}
		label {
			font-weight: bold;
      font-size: 14px;
      line-height: 20px;
      color: rgba(#051021, .34);
      display: inline-block;
			&.abnormal {
				position: relative;
				&:after {
					@include afterIcon("info-sign.svg", 16px, 16px);
					position: absolute;
					top: 2px;
          margin-left: 30px;
          cursor: pointer;
				}
			}
		}
		span {
      font-size: 24px;
      line-height: 32px;
      color: rgba(#051021, .72);
      display: inline-block;
		}
	}
}

// 异常原因model组件
.abnormal-detail {
  .ivu-modal {
    width: 720px !important;
    .ivu-modal-header {
      height: 32px;
      p {
        font-size: 14px;
        line-height: 32px;
        color: rgba(#051021, 0.72);
        display: inline-block;
        height: 32px;
      }
    }
    .ivu-modal-content {
      border-radius: 8px;
    }
    .ivu-modal-body {
      padding: 16px 0;
       // 表格
      .el-table {
        font-size: 12px;
        thead {
          .cell {
            font-weight: bold;
            color: rgba(#051021, 0.87);
          }
        }
        .cell {
          @include text-ellipsis;
          line-height: 20px;
          color: rgba(#051021, 0.72);
        }
        td,
        th {
          padding: 6px 0;
        }
      }
      .el-table--striped .el-table__body tr.el-table__row--striped td {
        background: rgba(#4A525E, 0.04)
      }
      .el-table__body tr.hover-row>td {
        background: rgba(#4A525E, 0.04)
      }
    }
    .ivu-modal-footer {
      padding-right: 0;
      .btn {
        background-color: rgba(#182B4D, 0.05);
        border-color: rgba(#182B4D, 0.05);
        color: #2979FF;
        font-weight: bold;
      }
    }
  }
}

.pc-card-main {
  width: 100%;
  height: 100%;
  padding-bottom: 15px;
  overflow: hidden;
  .ivu-scroll-container {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }

  .pc-card-row {
    margin-bottom: 20px;

    .pc-card-col {
      height: 100%;

      .pc-card {
        width: 100%;
        background-color: #fff;
        cursor: pointer;

        &:hover {
          box-shadow: 0 0 8px 0 rgba(16, 48, 102, .08);
        }

        .pc-card-h {
          display: flex;
          padding: 24px;

          .h-left {
            margin-right: 12px;

            > img {
              width: 100%;
              height: 100%;
            }
          }

          .h-right {
            width: calc(100% - 108px);
          }
        }

        .pc-card-v {
          padding: 24px;
        }
      }
    }
  }
}

.wm-body {
  display: none;
  .wm-con {
    transform: rotate(-30deg);
  }
}

.modal-md {
  .ivu-modal-wrap {
    .ivu-modal {
      width: 720px !important;
    }
  }
}

.transfer-main {
  width: calc(100% - 40px);
  height: calc(100% - 20px);
  margin: 10px auto;
  display: flex;
  align-items: center;

  .tm-left {
    width: calc(50% - 30px);
    height: 100%;
    border: 1px solid rgba(24, 43, 77, .15);

    .tm-left-header {
      width: 100%;
      height: 32px;
      border-bottom: 1px solid rgba(24, 43, 77, .15);
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 0 20px;
    }

    .filter-box {
      width: calc(100% - 32px);
      height: 36px;
      margin: 0 16px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      .search-input {
        position: relative;
        width: 100%;
        height: 32px;
        margin: 0 auto;
        border-radius: 0;
        border: 0;
        border-bottom: 1px solid rgba(41, 121, 255, .5);
        box-shadow: none;
        padding-left: 20px;
      }

      .search-icon {
        position: absolute;
        font-size: 16px;
        transition: 500ms;
        left: calc(50% - 8px);
      }

      .search-input:focus+.search-icon {
        left: 2px;
      }

      .search-input:valid+.search-icon {
        left: 2px;
      }
    }

    .tm-left-body {
      margin-top: 12px;
      width: calc(100% - 40px);
      height: calc(100% - 92px);
      margin: 12px 20px;
      overflow: auto;

      .el-tree-node {
        line-height: 20px;
        margin: 6px 0;
      }
    }
  }

  .tm-mid {
    width: 40px;
    height: 80px;
    margin: 0 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

  }

  .tm-right {
    width: calc(50% - 30px);
    height: 100%;
    border: 1px solid rgba(24, 43, 77, .15);

    .tm-right-header {
      width: 100%;
      height: 32px;
      border-bottom: 1px solid rgba(24, 43, 77, .15);
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 0 20px;
    }

    .tm-right-body {
      width: calc(100% - 32px);
      height: calc(100% - 64px);
      margin: 16px;

      .tm-right-ul {
        width: 100%;
        height: 100%;
        overflow: auto;

        li {
          height: 32px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          &:hover {
            .ivu-icon {
              display: inline-block;
            }
          }

          & > label {
            width: calc(100% - 30px);
            display: flex;
            align-items: center;

            & > .ivu-icon {
              font-size: 16px;
              display: inline-block;
              margin: 0 5px;
            }

            & > span {
              &:nth-child(2) {
                margin-left: 10px;
                display: inline-block;
                width: calc(100% - 40px);
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
              }
            }
          }

          & > .ivu-icon {
            display: none;
            font-size: 16px;
            color: #999;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.pop-delete-con {
  text-align: center;
  margin: 10px;
}

.modal-sm,
.modal-md {
  .modal-header {
    display: flex;
    line-height: 30px;
  }
  .modal-body {
    padding: 4px;
  }
  .modal-footer {
    .el-button {
      padding: 10px;
      &:hover {
        background-color: rgba(41, 121, 255, .1);
      }
    }
  }
}

.modal-full {
  .ivu-modal-content {
    padding: 0;

    .ivu-modal-header {
      .modal-header {
        width: 100%;
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 20px;
        box-shadow: 0 0 8px 0 rgba(16, 48, 102, .08);

        i {
          font-size: 18px;
          margin-right: 10px;
          cursor: pointer;
        }
        span {
          font-size: 16px;
        }
      }
    }

    .ivu-modal-body {
      background-color: #E8EBED;
      height: calc(100% - 128px);
      
      .modal-body {
        width: 100%;
        max-width: 1200px;
        height: 100%;
        margin: 0 auto;
      }
    }
    
    .modal-footer {
      height: 64px;
    }
  }

  
}

