.header-main {
  width: 100%;
  height: 64px;
  display: flex;
  background: linear-gradient(to right, #0065FF, #009DFE);

  .logo-main {
    width: 260px;
    height: 100%;
    padding: 0 0 0 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .logo-i {
      width: 37px;
      height: 34px;
      @include logo;
    }

    .logo-text {
      margin-left: 8px;
      width: 148px;

      span {
        display: block;
        color: #fff;

        &:nth-child(1) {
          font-size: 20px;
          line-height: 20px;
        }

        &:nth-child(2) {
          font-size: 12px;
          line-height: 20px;
        }
      }
    }
  }

  .header-menu-btn {
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    color: #fff;
    cursor: pointer;

    .el-dropdown-link {
      color: #fff;
    }
  }

  .header-con {
    width: calc(100% - 540px);
    height: 100%;
    display: flex;
    overflow: hidden;
  }

  .header-right {
    width: 180px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .ivu-dropdown {
      width: 100px;
      height: 100%;
      display: flex;
      align-items: center;
      .user-con {
        width: 100px;
        height: 100%;
        display: flex;
        align-items: center;

        .user-icon {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          margin-right: 8px;
          overflow: hidden;

          img {
            display: block;
            width: 100%;
            height: 100%;
          }
        }

        span {
          font-size: 12px;
          line-height: 20px;
          color: #fff;
        }

      }

    }
    .setting {
      width: 80px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      i {
        display: block;
        width: 16px;
        height: 16px;
        cursor: pointer;

        // &:nth-child(1) {
        //   @include setting-icon;
        //   margin-right: 20px;
        // }

        &:nth-child(1) {
          @include logout;
        }
      }
    }
  }

}
